.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 3%;
  border-bottom:3px solid  rgb(255, 0, 0);
}

.header h1 {
  color: #ff0000;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: larger;
  padding: 1rem;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(171, 102, 11);
}

.header button:hover,
button.hover {
  background-color: rgb(255, 208, 0);
}