.footer{
    background-color: rgb(46, 140, 198);
   height: 8rem;
    font-weight: bold;
    margin-top: 14rem;
    
}


.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
    margin-right: 8rem;
}

.icons-tag{
    margin-right: 2rem;
}

.h1{
    text-align: center;
    color: white;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
    display: table-cell;
}


