.form {
  margin: auto;
  border: 2px solid gray;
  padding: 40px;
  width: 600px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 7px rgb(7, 2, 2);
  border: none;
  margin-top: 5rem;
}

.form label {
  display: block;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.form input {
  padding: 10px;
  margin-bottom: 1em;
  width: 96%;
  font-size: 18px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0, 0.2);
}

.form div {
  text-align: center;
}

.form button {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  padding: 5px 40px 5px 40px;
  border-radius: 25px;
  background-color:black;
  border: none;
  width: 50%;
  color: white;
}

.form button:hover {
  background-color: green;
}

.form button:active {
  transform: scale(0.95);
}

.contact h1 {
  margin: 0;
  padding: 100px 0 20px 0;
  background-color: gray;
  font-size: 60px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}