.div{
    display: block;
    background-color: rgb(161 157 157 / 0%);
    width: 100%;
}
.tour-item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 17px;
    padding-left: 26rem;
    
    
}
.tour-dates{
    width: 12%;

}
.tour-place{
    width: 25%;
    color: #777;
}

.spec{
    width: 24%;
    color: #777;
}


.buy{
    width: 9%;
    background: #56CCF2;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.container {
    background-color: rgb(161, 157, 157);
  }
  
  .Div {
    width: 100%;
    background-color: rgb(161, 157, 157);
  }
  .btn {
    background-color: rgb(161, 157, 157);
    cursor: pointer;
    margin-top: 3rem;
  }
  
  .divheader {
      padding: 45px;
      background-color: gray;
    }
    .img {
      width: 5%;
      text-align: center;
    }
    
    .button {
      background-color: transparent;
      color: white;
      border-color: aqua;
      text-align: center;
    }
    
    .h2 {
      text-align: center;
      margin-right: 27px;
      
    }
    .para {
      text-align: center;
    }
    .button1 {
      display: flex;
      padding: 15px;
      background-color:lightblue;
      border: none;
      border-radius: 7px;
      margin: auto;
      cursor: pointer;
      text-align: left;
    }

    .row{
        width: 100%;
    }
    .text-centre{
      text-align: center;
    }
  