.navbar {
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  font-size: 20px;
  margin-left: 7rem;
}
 



.a {
  color: white;
  margin: 20px 0 0 5rem;
  
}



.icon{
   
  margin-left: 1rem;
    text-decoration: none;
    color: #eeeeee;
  
}