.signUp {
    margin: 10rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
    padding: 1rem;
    text-align: center;
    background-color: rgb(17, 0, 255)
  }

  .signUp div {
    display: flex;
    flex-direction: column;
  }

  .signUp input {
    margin: 4%;
  }

  .signUp button {
    display: inline-block;
    border-radius: 2px;
  }