.IncompleteProfile {
    margin: 10rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    background-color: #E3FDFD;
  }
  
  .IncompleteProfile div {
    display: flex;
    flex-direction: column;
  }
  
  .IncompleteProfile input {
    margin: 4%;
  }
  
  .IncompleteProfile button {
    display: inline-block;
    border-radius: 2px;
  }