.signUp {
    margin: 10rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
    padding: 1rem;
    text-align: center;
    background-color: #E3FDFD
  }
  
  .signUp div {
    display: flex;
    flex-direction: column;
  }
  
  .signUp input {
    margin: 4%;
    font-size: 1.5rem;
  }
  
  .signUp button {
    display: inline-block;
    border-radius: 2px;
    border-radius: 1rem;
  }
  .signUp a {
    color: hsl(34deg 100% 50%);
    text-decoration: none;
    font-size: larger;
    padding: 1rem;
  }