.section div {
    margin: 40px 300px 40px 300px;
  }
  
  .section div p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .section img {
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 50%;
    margin: 30px;
  }
  
  .section h1 {
    margin: 0;
    padding: 100px 0 20px 0;
    background-color: gray;
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .section h2 {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    margin-top: 5rem;
  }

  