.button {
  cursor: pointer;
  float: right;
 
  font-weight: bold;
  display: flex;
  padding-right: 11px;
  background-color: #000;
  border: 2px solid orange;
  border-radius: 5px;
  color: #eefc5a;
  cursor: pointer;
  margin-right: 50px;
  width: 53px;
    height: 25px;
}

.badge {
  position: absolute;
  color: #56ccf2;
  font-size: 20px;
  top: -3px;
  right: 49px;
}

.logoutButton {
  background-color: black;
  color: white;
  border: 2px solid blue;
  padding: 5px;
  border-radius: 11px;
  margin-left: 35px;
  float: right;
  margin: 0 15px 0px 0px;
}
