@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e3fdfd;
}

body {
  margin: 0;
  background-color: #e3fdfd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #A66CFF;
  font-family: "Rajdhani", sans-serif;
}
