.Form {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10rem auto;
    margin:auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    background-color: rgb(17, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Form div {
    display: flex;
    flex-direction: column;
  }
  
  .Form input {
    margin: 4%;
  }
  
  .Form button {
    display: inline-block;
    border-radius: 2px;
  }